create database QuanLyPhongGame

USE [QuanLyPhongGame]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TongChi] [int] NOT NULL,
	[TongThu] [int] NOT NULL,
	[TongLoiNhuan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietCumMay]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCumMay](
	[MaChiTietCumMay] [int] IDENTITY(1,1) NOT NULL,
	[MaCumMay] [int] NOT NULL,
	[MaThietBi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietCumMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaChiTietNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[MaNhapKho] [int] NOT NULL,
	[DichVuNhapKho] [int] NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[ChiPhiNhap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuKien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuKien](
	[MaChiTietSuKien] [int] IDENTITY(1,1) NOT NULL,
	[MaSuKien] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThanhToan]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThanhToan](
	[MaChiTietThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaThanhToan] [int] NOT NULL,
	[DichVuSuDung] [int] NOT NULL,
	[SoLuongSuDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVuNhanVien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVuNhanVien](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CumMay]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CumMay](
	[MaCumMay] [int] IDENTITY(1,1) NOT NULL,
	[SoThuTu] [int] NOT NULL,
	[LoaiCumMay] [int] NOT NULL,
	[LoaiTrangThai] [int] NOT NULL,
	[ChiPhiThue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCumMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [varchar](200) NOT NULL,
	[LoaiDichVu] [int] NOT NULL,
	[GiaKinhDoanh] [int] NOT NULL,
	[DonViTinh] [varchar](50) NOT NULL,
	[MoTa] [varchar](100) NOT NULL,
	[SoLuongConLai] [int] NOT NULL,
	[HinhAnh] [int] NULL,
	[NgayCapNhat] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuHaiCSVC]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuHaiCSVC](
	[MaHuHai] [int] IDENTITY(1,1) NOT NULL,
	[ThietBiHuHai] [int] NOT NULL,
	[MoTa] [varchar](100) NOT NULL,
	[NgayHuHai] [smalldatetime] NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[ChiPhiSuaChua] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHuHai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageTable]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageTable](
	[MaImage] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoi] [int] NOT NULL,
	[MaLoaiKhachHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCumMay]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCumMay](
	[MaLoaiCumMay] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiCumMay] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCumMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoaiDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDichVu] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhachHang]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhachHang](
	[MaLoaiKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiKhachHang] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSuKien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSuKien](
	[MaLoaiSuKien] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSuKien] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTheThanhVien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTheThanhVien](
	[MaLoaiTheThanhVien] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTheThanhVien] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTheThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThietBi]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThietBi](
	[MaLoaiThietBi] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiThietBi] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTrangThai]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTrangThai](
	[MaLoaiTrangThai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTrangThai] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi](
	[MaNguoi] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [varchar](50) NOT NULL,
	[DiaChi] [varchar](100) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[CMND] [varchar](20) NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Avartar] [varchar](50) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThai] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCapDichVu]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCapDichVu](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [varchar](100) NOT NULL,
	[MSTNhaCungCap] [varchar](100) NOT NULL,
	[DiaChi] [varchar](100) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[GhiChu] [varchar](100) NOT NULL,
	[LoaiDichVuCungCap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoi] [int] NOT NULL,
	[MaChucVu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKhoDichVu]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKhoDichVu](
	[MaHoaDonNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCungCap] [int] NOT NULL,
	[NgayNhapKho] [smalldatetime] NOT NULL,
	[TongHoaDonNhap] [int] NOT NULL,
	[GhiChu] [varchar](100) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[MaSuKien] [int] IDENTITY(1,1) NOT NULL,
	[TenSuKien] [varchar](100) NULL,
	[NgayBatDau] [smalldatetime] NOT NULL,
	[NgayKetThuc] [smalldatetime] NOT NULL,
	[MoTa] [varchar](200) NOT NULL,
	[LoaiSuKien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[TongThanhToan] [int] NOT NULL,
	[NgayThanhToan] [smalldatetime] NOT NULL,
	[HinhThucThanhToan] [varchar](100) NOT NULL,
	[GhiChu] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThanhVien]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThanhVien](
	[MaTheThanhVien] [varchar](12) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayKichHoat] [smalldatetime] NOT NULL,
	[LoaiTheThanhVien] [int] NOT NULL,
	[TinhTrangThe] [varchar](50) NOT NULL,
	[CapBacThe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MaThietBi] [int] IDENTITY(1,1) NOT NULL,
	[TenThietBi] [varchar](200) NOT NULL,
	[MoTa] [varchar](200) NOT NULL,
	[HinhAnh] [varchar](200) NOT NULL,
	[LoaiThietBi] [int] NOT NULL,
	[NgayCapNhat] [smalldatetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[MaThongSo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongSoThietBi]    Script Date: 2020-12-26 8:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongSoThietBi](
	[MaThongSo] [int] IDENTITY(1,1) NOT NULL,
	[NhaSanXuat] [varchar](200) NOT NULL,
	[NamGioiThieu] [int] NOT NULL,
	[MoTa] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoCao] ON 

INSERT [dbo].[BaoCao] ([MaBaoCao], [Thang], [Nam], [TongChi], [TongThu], [TongLoiNhuan]) VALUES (1, 12, 2020, 80000, 10000, 2000)
SET IDENTITY_INSERT [dbo].[BaoCao] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] ON 

INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhapKho], [MaNhapKho], [DichVuNhapKho], [SoLuongNhap], [ChiPhiNhap]) VALUES (1, 1, 1, 10, 80000)
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietSuKien] ON 

INSERT [dbo].[ChiTietSuKien] ([MaChiTietSuKien], [MaSuKien], [MaNhanVien]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[ChiTietSuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietThanhToan] ON 

INSERT [dbo].[ChiTietThanhToan] ([MaChiTietThanhToan], [MaThanhToan], [DichVuSuDung], [SoLuongSuDung]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ChiTietThanhToan] ([MaChiTietThanhToan], [MaThanhToan], [DichVuSuDung], [SoLuongSuDung]) VALUES (2, 2, 1, 1)
INSERT [dbo].[ChiTietThanhToan] ([MaChiTietThanhToan], [MaThanhToan], [DichVuSuDung], [SoLuongSuDung]) VALUES (9, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[ChiTietThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVuNhanVien] ON 

INSERT [dbo].[ChucVuNhanVien] ([MaChucVu], [TenChucVu]) VALUES (1, N'quan ly')
INSERT [dbo].[ChucVuNhanVien] ([MaChucVu], [TenChucVu]) VALUES (2, N'nhan vien')
SET IDENTITY_INSERT [dbo].[ChucVuNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[CumMay] ON 

INSERT [dbo].[CumMay] ([MaCumMay], [SoThuTu], [LoaiCumMay], [LoaiTrangThai], [ChiPhiThue]) VALUES (1, 1, 1, 1, 10000)
SET IDENTITY_INSERT [dbo].[CumMay] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [LoaiDichVu], [GiaKinhDoanh], [DonViTinh], [MoTa], [SoLuongConLai], [HinhAnh], [NgayCapNhat]) VALUES (1, N'pepsi', 1, 10000, N'dong', N'nuoc giai khat', 10, 1, CAST(N'2020-12-09T13:56:00' AS SmallDateTime))
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [LoaiDichVu], [GiaKinhDoanh], [DonViTinh], [MoTa], [SoLuongConLai], [HinhAnh], [NgayCapNhat]) VALUES (3, N'redbull', 1, 10000, N'dong', N'nuoc giai khat', 10, 1, CAST(N'2020-12-25T15:22:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageTable] ON 

SET IDENTITY_INSERT [dbo].[ImageTable] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [MaNguoi], [MaLoaiKhachHang]) VALUES (1, 2, 2)
INSERT [dbo].[KhachHang] ([MaKhachHang], [MaNguoi], [MaLoaiKhachHang]) VALUES (3, 19, 1)
INSERT [dbo].[KhachHang] ([MaKhachHang], [MaNguoi], [MaLoaiKhachHang]) VALUES (4, 20, 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiCumMay] ON 

INSERT [dbo].[LoaiCumMay] ([MaLoaiCumMay], [TenLoaiCumMay]) VALUES (1, N'May Gaming')
INSERT [dbo].[LoaiCumMay] ([MaLoaiCumMay], [TenLoaiCumMay]) VALUES (2, N'May Livetreams')
INSERT [dbo].[LoaiCumMay] ([MaLoaiCumMay], [TenLoaiCumMay]) VALUES (3, N'May thi dau')
SET IDENTITY_INSERT [dbo].[LoaiCumMay] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDichVu] ON 

INSERT [dbo].[LoaiDichVu] ([MaLoaiDichVu], [TenLoaiDichVu]) VALUES (1, N'nuoc uong')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDichVu], [TenLoaiDichVu]) VALUES (2, N'thuc an')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDichVu], [TenLoaiDichVu]) VALUES (3, N'may tinh')
SET IDENTITY_INSERT [dbo].[LoaiDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiKhachHang] ON 

INSERT [dbo].[LoaiKhachHang] ([MaLoaiKhachHang], [TenLoaiKhachHang]) VALUES (1, N'vip')
INSERT [dbo].[LoaiKhachHang] ([MaLoaiKhachHang], [TenLoaiKhachHang]) VALUES (2, N'binh thuong')
SET IDENTITY_INSERT [dbo].[LoaiKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSuKien] ON 

INSERT [dbo].[LoaiSuKien] ([MaLoaiSuKien], [TenLoaiSuKien]) VALUES (1, N'thi dau')
SET IDENTITY_INSERT [dbo].[LoaiSuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTheThanhVien] ON 

INSERT [dbo].[LoaiTheThanhVien] ([MaLoaiTheThanhVien], [TenLoaiTheThanhVien]) VALUES (1, N'vip')
INSERT [dbo].[LoaiTheThanhVien] ([MaLoaiTheThanhVien], [TenLoaiTheThanhVien]) VALUES (2, N'binh thuong')
SET IDENTITY_INSERT [dbo].[LoaiTheThanhVien] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiThietBi] ON 

INSERT [dbo].[LoaiThietBi] ([MaLoaiThietBi], [TenLoaiThietBi]) VALUES (1, N'man hinh')
SET IDENTITY_INSERT [dbo].[LoaiThietBi] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTrangThai] ON 

INSERT [dbo].[LoaiTrangThai] ([MaLoaiTrangThai], [TenLoaiTrangThai]) VALUES (1, N'hoat dong binh thuong')
INSERT [dbo].[LoaiTrangThai] ([MaLoaiTrangThai], [TenLoaiTrangThai]) VALUES (2, N'dang bao tri')
SET IDENTITY_INSERT [dbo].[LoaiTrangThai] OFF
GO
SET IDENTITY_INSERT [dbo].[Nguoi] ON 

INSERT [dbo].[Nguoi] ([MaNguoi], [HoTen], [DiaChi], [SoDienThoai], [CMND], [Email], [Username], [Password], [Avartar], [NgayTao], [TrangThai]) VALUES (1, N'Nguyen Van A', N'Thu Duc-HCM', N'0123456789', N'21552222', N'a@gmail.com', N'nguyenvana', N'123', N'khong co', CAST(N'2020-12-20T09:28:26.2933333' AS DateTime2), N'dang dang nhap')
INSERT [dbo].[Nguoi] ([MaNguoi], [HoTen], [DiaChi], [SoDienThoai], [CMND], [Email], [Username], [Password], [Avartar], [NgayTao], [TrangThai]) VALUES (2, N'Nguyen Van B', N' Thu Duc-HCM', N'0123456789', N'21552222', N'a@gmail.com', N'nguyenvanb', N'123', N'khong co', CAST(N'2020-12-20T09:28:26.2966667' AS DateTime2), N'dang dang nhap')

SET IDENTITY_INSERT [dbo].[Nguoi] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCapDichVu] ON 

INSERT [dbo].[NhaCungCapDichVu] ([MaNhaCungCap], [TenNhaCungCap], [MSTNhaCungCap], [DiaChi], [SoDienThoai], [GhiChu], [LoaiDichVuCungCap]) VALUES (1, N'Cong ty nuoc giai khat Pepsi', N'111111', N'Thu Duc', N'0123456789', N'dang hoat dong', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCapDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [MaNguoi], [MaChucVu]) VALUES (1, 1, 1)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaNguoi], [MaChucVu]) VALUES (2, 2, 1)

SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhapKhoDichVu] ON 

INSERT [dbo].[NhapKhoDichVu] ([MaHoaDonNhap], [MaNhaCungCap], [NgayNhapKho], [TongHoaDonNhap], [GhiChu], [MaNhanVien]) VALUES (1, 1, CAST(N'2020-12-09T14:23:00' AS SmallDateTime), 80000, N'nhap thanh cong', 1)
SET IDENTITY_INSERT [dbo].[NhapKhoDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[SuKien] ON 

INSERT [dbo].[SuKien] ([MaSuKien], [TenSuKien], [NgayBatDau], [NgayKetThuc], [MoTa], [LoaiSuKien]) VALUES (2, N'AIC 2020', CAST(N'2020-12-01T00:00:00' AS SmallDateTime), CAST(N'2020-12-10T00:00:00' AS SmallDateTime), N'thi dau lien quan', 1)
SET IDENTITY_INSERT [dbo].[SuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaKhachHang], [MaNhanVien], [TongThanhToan], [NgayThanhToan], [HinhThucThanhToan], [GhiChu]) VALUES (1, 1, 1, 10000, CAST(N'2020-12-09T13:58:00' AS SmallDateTime), N'tien mat', N'thanh toan thanh cong')
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaKhachHang], [MaNhanVien], [TongThanhToan], [NgayThanhToan], [HinhThucThanhToan], [GhiChu]) VALUES (2, 1, 1, 20000, CAST(N'2020-12-25T15:22:00' AS SmallDateTime), N'tien mat', N'thanh toan thanh cong')
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
INSERT [dbo].[TheThanhVien] ([MaTheThanhVien], [MaKhachHang], [NgayKichHoat], [LoaiTheThanhVien], [TinhTrangThe], [CapBacThe]) VALUES (N'201209134922', 1, CAST(N'2020-12-09T13:49:00' AS SmallDateTime), 1, N'dang hoat dong', 1)
INSERT [dbo].[TheThanhVien] ([MaTheThanhVien], [MaKhachHang], [NgayKichHoat], [LoaiTheThanhVien], [TinhTrangThe], [CapBacThe]) VALUES (N'201224165030', 4, CAST(N'2020-12-24T16:50:00' AS SmallDateTime), 1, N'khong có ', 1)
GO
SET IDENTITY_INSERT [dbo].[ThongSoThietBi] ON 

INSERT [dbo].[ThongSoThietBi] ([MaThongSo], [NhaSanXuat], [NamGioiThieu], [MoTa]) VALUES (1, N'Asus', 2019, N'man hinh asus 2019')
SET IDENTITY_INSERT [dbo].[ThongSoThietBi] OFF
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[HuHaiCSVC] ADD  DEFAULT (getdate()) FOR [NgayHuHai]
GO
ALTER TABLE [dbo].[Nguoi] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhapKhoDichVu] ADD  DEFAULT (getdate()) FOR [NgayNhapKho]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[TheThanhVien] ADD  DEFAULT (CONVERT([char](12),(((((datepart(year,getdate())-(2000))*(10000000000.)+datepart(month,getdate())*(100000000))+datepart(day,getdate())*(1000000))+datepart(hour,getdate())*(10000))+datepart(minute,getdate())*(100))+datepart(second,getdate()))) FOR [MaTheThanhVien]
GO
ALTER TABLE [dbo].[TheThanhVien] ADD  DEFAULT (getdate()) FOR [NgayKichHoat]
GO
ALTER TABLE [dbo].[ThietBi] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [fk_ctnk_dvnk] FOREIGN KEY([DichVuNhapKho])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [fk_ctnk_dvnk]
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [fk_ctnk_mhdn] FOREIGN KEY([MaNhapKho])
REFERENCES [dbo].[NhapKhoDichVu] ([MaHoaDonNhap])
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [fk_ctnk_mhdn]
GO
ALTER TABLE [dbo].[ChiTietThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_cttt_MaDichVu] FOREIGN KEY([DichVuSuDung])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietThanhToan] CHECK CONSTRAINT [fk_cttt_MaDichVu]
GO
ALTER TABLE [dbo].[ChiTietThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_cttt_MaThanhToan] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[ThanhToan] ([MaThanhToan])
GO
ALTER TABLE [dbo].[ChiTietThanhToan] CHECK CONSTRAINT [fk_cttt_MaThanhToan]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [fk_dv_LoaiDichVu] FOREIGN KEY([LoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [fk_dv_LoaiDichVu]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [fk_kh_MaLoaiKhachHang] FOREIGN KEY([MaLoaiKhachHang])
REFERENCES [dbo].[LoaiKhachHang] ([MaLoaiKhachHang])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [fk_kh_MaLoaiKhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [fk_kh_MaNguoi] FOREIGN KEY([MaNguoi])
REFERENCES [dbo].[Nguoi] ([MaNguoi])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [fk_kh_MaNguoi]
GO
ALTER TABLE [dbo].[NhaCungCapDichVu]  WITH CHECK ADD  CONSTRAINT [fk_nccdv_LoaiDichVuCC] FOREIGN KEY([LoaiDichVuCungCap])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDichVu])
GO
ALTER TABLE [dbo].[NhaCungCapDichVu] CHECK CONSTRAINT [fk_nccdv_LoaiDichVuCC]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVuNhanVien] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_MaChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [fk_MaNguoi] FOREIGN KEY([MaNguoi])
REFERENCES [dbo].[Nguoi] ([MaNguoi])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [fk_MaNguoi]
GO
ALTER TABLE [dbo].[NhapKhoDichVu]  WITH CHECK ADD  CONSTRAINT [fk_nkdv_mncc] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCapDichVu] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[NhapKhoDichVu] CHECK CONSTRAINT [fk_nkdv_mncc]
GO
ALTER TABLE [dbo].[NhapKhoDichVu]  WITH CHECK ADD  CONSTRAINT [fk_nkdv_mnv] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhapKhoDichVu] CHECK CONSTRAINT [fk_nkdv_mnv]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_tt_MaKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [fk_tt_MaKhachHang]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_tt_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [fk_tt_MaNhanVien]
GO
ALTER TABLE [dbo].[TheThanhVien]  WITH CHECK ADD  CONSTRAINT [fk_ttv_MaKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TheThanhVien] CHECK CONSTRAINT [fk_ttv_MaKhachHang]
GO
ALTER TABLE [dbo].[TheThanhVien]  WITH CHECK ADD  CONSTRAINT [fk_ttv_MaLoaiTTV] FOREIGN KEY([LoaiTheThanhVien])
REFERENCES [dbo].[LoaiTheThanhVien] ([MaLoaiTheThanhVien])
GO
ALTER TABLE [dbo].[TheThanhVien] CHECK CONSTRAINT [fk_ttv_MaLoaiTTV]
GO
